<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
</head>
<body>


<p> 我们收到了重设与此电子邮件地址关联的密码的请求。 如果是您提交的请求，请遵照下面的指示操作。</p>

<p> 单击下面的链接通过我们的安全服务器重新设置您的密码: </p>

  <p>
    <a href="{{ActionCodeConfirm}}"> {{ActionCodeConfirm}} </a>
  </p>

  <p>
    如果您没有请求重设密码，则完全可以忽略此邮件。请放心，您的客户帐户是安全的。
  </p>


  <p>
    如果单击链接不起作用，可以将链接复制并粘贴到浏览器的地址窗口，或将地址重新键入地址窗口。在返回到 boxlinker 后，我们将提供如何重设密码的指示。
  </p>

  <p>
    boxlinker.com 在任何时候都不会给您发送电子邮件并要求您披露或核实您的  boxlinker.com 密码、信用卡，或银行帐号。如果您收到可疑的电子邮件并且其中包含更新帐户信息的链接，请不要点击该链接，相反，请将该电子邮件报告给 boxlinker.com 以便进行调查。
    感谢您访问 boxlinker！
  </p>
</body>
</html>