/**/
.assItem{
  margin:35px 25px 0;
  padding-bottom:35px;
  border-bottom:1px solid #ececec;
}
.assBox{
  width:90%;
  margin-top:25px;
}
.assBoxAuto{
  width:auto;
}
.assItem>button{
  margin-right:50px;
}
.assItemNoborder{
  border-bottom:0;

}
.assItemLast{
  margin-top:10px;
}
.asTabThird{

}
.astBox{
  margin-top:30px;
}
.astBox table{
  margin-bottom:0;
}
.astTdBox{
  padding:0 20px;
}
.astTdBox>div{
  margin:10px 0;
}
.assBtnBox{
  margin-top:25px;
}
.assBtnBox button{
  margin-right:35px;
}
.astKeyItem{
  margin-bottom:5px;
}
.astInp{
  display: inline-block;
  width:42.5%;
}
.astDel{
  display:inline-block;
  width:8%;
  vertical-align: middle;
  margin-left:2%;
}
.astLine{
  display:inline-block;
  margin:0 1%;
  width:3%;
  border-top:1px solid #999;
  vertical-align: middle;
}

/**/
.sdHd{
  position: relative;
  padding-top:30px;
}
.sdImg{
  width:120px;
  position: absolute;
  text-align:center;
}
.sdImg img{
  width:66px;
  height: 66px;
  border-radius:4px;
}
.sdImg a{
  display:inline-block;
  font-size:12px;
  color:#333;
  padding-left:18px;
  margin-top:13px;
  transition:color .3s ease;
  position: relative;
}
.sdImg a:before{
  font-family:"icomoon";
  display: inline-block;
  position: absolute;
  content: "\e913";
  font-size:14px;
  color:#767676;
  left:0;
  top:-2px;

}
.sdImg a:hover{
  color:#09c8f4;
}
.sdImg a:hover{
  text-decoration: none;
}
.sdImg a:focus{
  text-decoration: none;
}
.sdInfo{
  margin:-7px 20px 0 120px;
}
.sdTitle{
  border-bottom:1px solid #e8e8e8;
  padding-bottom:20px;
}
.sdTitleItem{
  display:inline-block;
  text-align:center;
  position: relative;
  color:#333;
}
.sdTitleItem:after{
  display: inline-block;
  content:" ";
  height:15px;
  width:1px;
  background:#ced3dd;
  vertical-align: middle;
  position: absolute;
  right:0;
  top:4px;
}
.sdTitleItem:nth-child(4):after{
  display:none;
}
.sdTitleItem:first-child{
  width:26%;
  text-align: left;
  padding-left:10px;
}
.sdTitleItem:first-child span{
  color:#24a8d9
}
.sdTitleItem:nth-child(2){
  width:23%;
}
.sdTitleItem:nth-child(3){
  width:21%;
}
.sdTitleItem:nth-child(4){
  width:30%;
  text-align: right;
  padding-right:0;
}
.sdTitleItem button{
  margin-left:27px;
}
.sdTitleItem span{
  margin-left:10px;
}
.sdBd{
  border-top:17px solid #f2f4f8;
  padding-top:30px;
  min-height:300px;
}
.sdPBox{
  padding:24px 0 30px;
}
.sdPItem {
  padding:10px 0;
}
.sdPItem:nth-child(3){
  margin-top:20px;
}
.sdPItemName{
  display: inline-block;
  width:70px;
  text-align:right;
  color:#333;
  margin-right:10px;
}
.sdInputRanges{
  display: inline-block;
  width:33%;
  height:23px;
  vertical-align: middle;
  margin-right:80px;
}
.sdBd>div>ul>li>a:after{
  font-family:"icomoon";
  color:#999;
  content: "\e918";
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 16px;
  font-size:18px;
}
.sdBd>div>ul>li:nth-child(1)>a:after{
  content: "\e918";
}
.sdBd>div>ul>li:nth-child(2)>a:after{
  content: "\e911";
}
.sdBd>div>ul>li:nth-child(3)>a:after{
  content: "\e917";
}
.sdBd>div>ul>li:nth-child(4)>a:after{
  content: "\e90d";
}
.sdBd>div>ul>li:nth-child(5)>a:after{
  content: "\e914";
}
.sdBd>div>ul>li:nth-child(6)>a:after{
  content: "\e915";
}
.sdBd>div>ul>li:nth-child(7)>a:after{
  content: "\e91c";
}
.sdLastBtn{
  margin-top:30px;
}
.sdDomain input{
  border-radius:0;
  border:0;
  box-shadow:none;
  background:transparent;
  border-bottom:1px solid #b6b6b6;
  font-size:12px;
  outline:none;
}
.btnChoose{
  margin:-10px 0 15px 15px;

}

/***
  容器配置
***/
.containerItem{
  width:100px;
  height:103px;
  border:1px solid #f2f4f8;
  background:#f2f4f8;
  border-radius:4px 4px 7px 7px;
  border-bottom:3px solid #d7c698;
  display:inline-block;
  margin-right:42px;
  cursor:pointer;
}
.containerItem:hover{
  box-shadow:0 3px 5px rgba(215,198,152,.35);
}
.containerSize{
  height:59px;
  line-height:59px;
  border-bottom:1px solid #ccc;
  margin:0 22px;
  text-align: center;
  font-size:35px;
}
.containerSize span{
  font-size:30px;
}
.containerUnit{
  margin-top:10px;
  text-align: center;
  color:#666;
}

.containerActive{
  background:#ebebea;
  border:1px solid #c8b88f;
  border-top:3px solid #c8b88f;
}
.containerItem2{
  border-color:#5eafce;
}
.containerItem2:hover{
  box-shadow:0 3px 5px rgba(39,154,197,.35);
}
.containerItem3{
  border-color:#a8ce6b;
}
.containerItem3:hover{
  box-shadow:0 3px 5px rgba(130,165,75,.35);
}
.containerItem4{
  border-color:#889bcb;
}
.containerItem4:hover{
  box-shadow:0 3px 5px rgba(94,117,174,.35);
}
.containerItem5{
  border-color:#ef6256;
}
.containerItem5:hover{
  box-shadow:0 3px 5px rgba(168,91,85,.35);
}
.chooseContainer{
  display:inline-block;
  color:#1da1d2;
  position: relative;
  vertical-align: bottom;
  margin-bottom:3px;
  padding-left:20px;
  cursor:pointer;
}
.chooseContainer:before{
  position: absolute;
  font-size:18px;
  left:-3px;
  top:-1px;
}
.modalItem{
  padding:20px 0 0 30px;
  vertical-align: top;
}
.modalItem>div>div{
  margin-bottom:27px;
  margin-right:40px;
}
.modalBtn{
  text-align: center;
  padding-bottom:20px;
}
.modalBtn button{
  padding:5px 15px;
}
.modalBtn button:last-child{
  margin-left:60px;
}
.handleBox{
  padding:46px 0 40px 32px;
}
.handleBox button{
  width:350px;
  box-shadow:none;
  background:#fff;
  color:#cc0000;
  border:1px solid #cc0000;
  height:37px;
}
.handleBox button:active,.handleBox button:focus{
  background:#bf0a0a;
  border-color:#bf0a0a;
  box-shadow: none;
}
.handleBox button:active:focus{
  background:#bf0a0a;
  border-color:#bf0a0a;
  box-shadow: none;
}
.handleBox p{
  font-size:12px;
  color:#cc0000;
  margin:13px 6px;
}
.sdDomain a{
  margin-right:10px;
}


