[server]

[mysqld]


[galera]

wsrep_on=ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so

wsrep_cluster_address="gcomm://database01,database02,database03"

binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2


wsrep_slave_threads=1
innodb_flush_log_at_trx_commit=0


[embedded]

[mariadb]

[mariadb-10.1]
