.idea/
*.pyc

*.log
deploy/config/registry/private_key.pem
deploy/config/registry/root.crt

deploy/config

conf/fonts

apidoc/registry
apidoc/icon
apidoc/user
apidoc/oauth
apidoc/usercenter
apidoc/repository
apidoc/v2oauth
apidoc/otherServer

*.png

